In [8]:
import os
import h5py as h5

In [9]:
f = h5.File("Chinese_Stocks.h5", "r")
data = f['xy']

In [2]:
data.keys()

[u'_i_table', u'table']

In [3]:
table = data['table']
print(len(table))
print(table[0])

10780713
(0, ['2005-02-01', '000001.XSHE'], [ 4.96244247e-03, -1.79847225e-02,  4.89808161e-03, -7.09566269e-03, -3.28069796e-03,  7.54527191e-01,  5.61770215e-01,  1.32268233e+00,  8.41621234e-01,  1.17093475e-01,  8.51058527e-01,  4.36806540e-01,  8.84134935e-01, -1.63493526e-01,  1.26718312e+00,  1.23864230e+00,  1.32980633e+00,  1.41665398e-01, -2.30380775e-01,  3.72046174e-01, -1.32674448e-01,  1.12299903e+00,  1.15432729e+00,  1.19071310e+00, -1.55577973e+00, -1.02897774e+00, -1.30084922e-01, -3.54695444e-01, -2.69176902e+01,  3.41664640e-01,  2.86763010e-01,  2.38015186e-01, -1.23468333e+01,  1.78535631e-02, -9.01361331e-03, -1.15818572e-02, -1.95251696e-02,  3.80000000e+01,  3.50000000e+01,             nan,  3.31509402e-01,  9.33330503e-01,  1.43759983e+00,  1.43162501e+00,  5.11938958e-02,  3.26111744e-02])

In [4]:
def num2str(num):
    string = str(num)
    return string

def array2str(array):
    string = ['%.5f' % v for v in array]
    string = ', '.join(s for s in string)
    return string

In [7]:
stock_dir = 'stocks_by_name'
for i in range(len(table)):
    one_id = table[i][0]
    date = table[i][1][0]
    stock_id = table[i][1][1]
    x = table[i][2][0:44]
    y = table[i][2][44:46]
    with open(os.path.join(stock_dir, stock_id + '.txt'), 'a') as handle:
        handle.write(num2str(one_id) + ', ' + date + ', ' + array2str(table[i][2]) +'\n')
    if i % 100000 == 0:
        print(i)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000

In [4]:
# There are total 3535 stocks

3535

In [6]:
import os
stock_dir = 'stocks_by_date'
for i in range(len(table)):
    one_id = table[i][0]
    date = table[i][1][0]
    stock_id = table[i][1][1]
    x = table[i][2][0:44]
    y = table[i][2][44:46]
    with open(os.path.join(stock_dir, date + '.txt'), 'a') as handle:
        handle.write(num2str(one_id) + ', ' + stock_id + ', ' + array2str(table[i][2]) +'\n')
    if i % 100000 == 0:
        print(i)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000